fastapi
uvicorn[standard]
jinja2
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-multipart
itsdangerous

dotenv
random
logging
smtplib
email.mime.text
MIMEText
email.mime.multipart
MIMEMultipart
binascii
cryptography.fernet 
contextlib
typing
psycopg2